app-root
  &:host

    display: block
    text-align: center
    padding: 25px

    section
      padding: 25px

    ::ng-deep app-donut-chart
      svg
        transform: rotate(90deg)
        background: black

        circle
          &.green
            stroke: green

          &.yellow
            stroke: yellow

          &.red
            stroke: red
