<app-donut-chart
  [radius]="'90px'"
  [borderWidth]="'30px'"
  [sectors]="[
    {
      value: 30,
      ngClass: {
        green: true
      }
    }
    ,{
      value: 30,
      ngClass: {
        yellow: true
      }
    }
    ,{
      value: 30,
      ngClass: {
        red: true
      }
    }
  ]"
></app-donut-chart>

<app-donut-chart
  [radius]="'90px'"
  [borderWidth]="'30px'"
  [sectors]="[
    {
      value: 9,
      ngClass: {
        green: true
      }
    }
    ,{
      value: total - 9,
      ngClass: {
        yellow: true
      }
    }
  ]"
></app-donut-chart>
